INTERNAL_URL=... # office reporting system url
INTERNAL_AUTH=... # office auth header
INTERNAL_USER=... # office user
INTERNAL_PASSWORD=...  # office user password
INTERNAL_USER_ID=... # internal office user id